/* css dùng chung */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
input {
  margin: 0;
  padding: 0;
}
textarea,
input:focus {
  box-shadow: royalblue;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
}
.containerItem {
  width: 50%;
  padding: 20px;
}
.block {
  display: block;
}
.none {
  display: none;
}

.visibility {
  visibility: hidden;
  transition: all 0.3s;
}
.opacity {
  opacity: 0;
  transition: all 0.3s;
}
.fixTop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}
.active {
  color: rgb(255, 0, 0) !important;
}
/* header */
.top {
  height: 40px;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.top a {
  line-height: 40px;
  color: silver;
  transition: all 0.3s;
}
.top a:hover {
  color: red;
}
.topSmall {
  display: none;
}

/* main menu */
.mainMenu {
  height: 50px;
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.mainMenu .menuItem a {
  font-weight: 600;
}
.mainMenu .menuItem i {
  font-size: 12px;
  color: white;
}
/* nút bar */
.mainMenu .bar i {
  margin-left: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  color: white;
  border: 1px solid white;
  border-radius: 0;
}
/* logo */
.mainMenu .logo {
  margin-right: 20px;
}
.mainMenu .logo span {
  color: white;
  font-size: 26px;
  font-weight: bold;
}

/* menu */
.mainMenu ul li {
  display: inline-block;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
}
.mainMenu .menuItem ul li i {
  font-size: 22px;
  margin-right: 10px;
}
.mainMenu .menuItem .menuItemSmall i {
  font-size: 12px;
}
.mainMenu ul li a {
  font-size: 16px;
  color: white;
  position: relative;
  transition: all 0.1s;
}
.mainMenu li a::after {
  content: "";
  height: 2px;
  border: none;
  width: 0;
  background-color: white;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all 0.2s;
}
.mainMenu li:hover a {
  color: rgb(255, 255, 30);
}
.mainMenu li:hover a::after {
  width: 100%;
}
.mainMenu li a.active::after {
  width: 100%;
}

/* nhập */
.mainMenu .nhap {
  position: relative;
  cursor: pointer;
}
.mainMenu .menuItem .dropdown {
  background-color: white;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: auto;
  z-index: 3;
  transform: translateY(50px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mainMenu .menuItem .nhap:hover .dropdown {
  display: block;
}
.mainMenu .menuItem .dropdown li {
  margin: 5px 0;
  display: block;
  height: 40px;
  line-height: 40px;
  /* border-bottom: 1px solid royalblue; */
}
.mainMenu .menuItem .dropdown li a {
  color: royalblue;
  font-weight: 500;
  line-height: 40px;
  transition: all 0.1s;
}
.mainMenu .menuItem .dropdown li a::after {
  content: "";
  height: 0;
  width: 0;
}
.mainMenu .menuItem .dropdown li:hover {
  background-color: royalblue;
}
.mainMenu .menuItem .dropdown li:hover a {
  color: rgb(255, 255, 30);
}
/* xuất */
.mainMenu .xuat {
  position: relative;
  cursor: pointer;
}

.mainMenu .menuItem .xuat:hover .dropdown {
  display: block;
}

/* kho */
.mainMenu .kho {
  position: relative;
  cursor: pointer;
}

.mainMenu .menuItem .kho:hover .dropdown {
  display: block;
}

/* quản lý */
.mainMenu .quanly {
  position: relative;
  cursor: pointer;
}

.mainMenu .menuItem .quanly:hover .dropdown {
  display: block;
}
/* main */
main {
  margin: 40px 0;
}
main p {
  padding: 20px 0;
}

/* footer */
.footer {
  background-color: black;
  color: silver;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
.footer a {
  color: black;
  margin: 0 5px;
  transition: all 0.3s;
}
.footer i {
  width: 33px;
  height: 33x;
  text-align: center;
  line-height: 33px;
  background-color: white;
  border-radius: 8px;
  transition: all 0.3s;
}
footer a:hover i {
  background-color: rgba(100, 100, 100, 0.6);
  color: white;
}
.end {
  padding: 20px;
  color: silver;
  text-align: center;
}
.end a {
  color: silver;
}
.end a:hover {
  font-weight: 600;
  color: royalblue;
}

/* backToTop */
.toTop {
  width: 33px;
  height: 33;
  text-align: center;
  line-height: 33px;
  color: white;
  background-color: rgba(255, 0, 0, 0.6);
  font-size: 14px;
  border-radius: 8px;
  position: fixed;
  right: 5px;
  bottom: 5px;
}

/* trang nhập hàng */
.nhapHang {
  display: flex;
  justify-content: space-around;
}
.nhapHangItem {
  width: 50%;
  padding: 30px;
}
/* table dùng chung */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid silver;
  margin-bottom: 10px;
}
table tr,
th,
td {
  border: 1px solid silver;
  padding: 5px 8px;
}

table th {
  background-color: royalblue;
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 10px;
}
table tr:nth-child(even) {
  background-color: rgba(180, 180, 180, 0.1);
}
table td:last-child {
  text-align: center;
}

.number {
  text-align: right;
}
.hideSmall {
  display: none;
}
/* trang thêm nhân viên */
.main {
  display: flex;
  justify-content: space-between;
}
.mainForm {
  padding-top: 10px;
  background-color: white;
  position: absolute;
  top: -300%;
  left: 50%;
  width: 500px;
  transform: translateX(-50%);
  z-index: 8;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mainForm .formItem {
  display: flex;
  align-items: center;
}
.mainForm .formItem label i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  /* background-color: silver; */
  margin-top: 8px;
  /* color: royalblue; */
  font-size: 20px;
}
.mainFormBg,
.lienHeBg {
  padding: 5px 10px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mainFormBg form {
  position: relative;
  padding: 10px 20px 10px 10px;
  overflow: hidden;
}

.formBgStyle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-left: 480px solid rgba(65, 105, 225, 0.3);
  border-bottom: 400px solid rgba(255, 0, 0, 0.3);
  border-radius: 8px;
}
.mainTableBg {
  padding: 5px 16px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-x: scroll;
}
.mainListTitle,
.mainFormTitle {
  display: flex;
  justify-content: space-between;
}
.mainListTitle button {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: white;
  background-color: royalblue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 18px;
}
.mainListTitle button:hover {
  color: rgb(255, 255, 30);
}

.mainFormTitle button {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50%;
}
.mainFormTitle button:hover {
  color: rgb(255, 255, 30);
}
.mainForm span{
  color: red;
  font-size: 12px;
  background-color: white;
  margin-left: 40px;
  padding: 2px 10px;
  border-radius: 10px;
  
}
.formButton {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.formButton button {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: royalblue;
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 18px;
}
.formButton button:hover {
  color: rgb(255, 255, 30);
}

.formButton .tbAction{
  color: royalblue;
}
.formButton .tbAction h3{
  text-align: center;
  margin: 12px 20px 0 0;
  font-size: 15px;
}

.tblMaNhanVien {
  text-transform: uppercase;
  /* width: 7%; */
}
.tblTenNhanVien {
  text-transform: capitalize;
  /* width: 20%; */
}
.tblDiaChi {
  text-transform: capitalize;
  /* width: 30%; */
}
.tblChucVu {
  text-transform: capitalize;
  /* width: 8%; */
}
.tblDienThoai {
  /* width: 8%; */
}
.tblEmail {
  /* width: 16%; */
}
.tblNgayVao {
  text-align: center;
  /* width: 10%; */
}
.tblMucLuong {
  text-align: right;
  /* width: 10%; */
}
.tblThaoTac {
  text-align: center;
  /* width: 7%; */
}

/* h2 dùng chung */
h2 {
  padding: 0 10px;
}
.mainList {
  width: 100%;
  padding: 0 30px;
}
.show {
  top: 90px !important;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
}

/* form dùng chung */
form {
  margin: 10px 0;
  width: 100%;
}
form label {
  font-size: 16px;
  font-weight: 500;
  display: block;
}
form input,
select {
  width: 100%;
  height: 38px;
  padding: 0 10px;
  font-size: 16px;
  margin: 8px 0 2px;
}
form textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}
form button {
  font-size: 18px;
  padding: 15px 20px;
  color: white;
  background-color: royalblue;
  border: none;
  letter-spacing: 2px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form button i {
  font-size: 24px;
}

/* css button dùng chung */
form button:hover {
  color: rgb(255, 255, 30);
}

.mainList .timNhanVien {
  /* margin-top: 20px; */
  position: relative;
}
.mainList .iconSearch{
  position: absolute;
  top: 10px;
  left: 0;
  width: 40px;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  background-color: royalblue;
  cursor: pointer;
}
.mainList .timNhanVien form input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding: 0 10px 0 50px;
  font-size: 16px;
}

/* nút sửa, xóa dùng chung */
.sua {
  padding: 5px;
  font-size: 16px;
  color: royalblue;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.xoa {
  padding: 5px;
  font-size: 16px;
  color: red;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
/* trang tạo sản phẩm */
#moFormTaoSanPham{
  margin: 0 0 10px 20px;
}
.products{
  display: flex;
  /* justify-content: space-between; */
  padding: 0 20px
}
.products .productForm{
  width: 0;
  height: 500px;
  /* background-color:aqua; */
  transition: all .5s;
  padding-right: 20px;

}
.productsList table{
  width: 100%;
}
.widthHalf{
  width: 50% !important;
  height: 500px;
  transition: all .5s;
}

/* trang liên hệ */
.lienHe {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}
.lienHeItem {
  width: 50%;
  padding: 0 30px;
}

.lienHeItem iframe {
  width: 100%;
}
hr {
  display: none;
}

/* responsive */
@media screen and (max-width: 992px) {
  /* css dùng chung */
  .lockScroll {
    height: 100vh;
    overflow-y: hidden;
  }
  .block {
    display: block !important;
  }

  .heightAuto {
    height: 100vh !important;
    overflow-y: scroll;
  }
  .height0 {
    height: 0 !important;
  }
  /* kích thức menu dropdown */
  .height220 {
    height: 260px !important;
  }
  .top {
    display: none;
  }
  .mainMenu .bar {
    display: block;
  }
  .mainMenu .menuItem {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transform: translateY(50px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.1s;
    z-index: 3;
    overflow-y: scroll;
  }
  .mainMenu .menuItem .menuItemSmall {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mainMenu .menuItem ul li {
    display: block;
    border-bottom: 1px solid rgba(192, 192, 192, 0.3);
  }
  .mainMenu .menuItem ul li i {
    color: royalblue;
  }
  .mainMenu .menuItem ul li a {
    color: royalblue;
  }
  .mainMenu .menuItem ul li a::after {
    content: "";
    height: 0;
  }
  .mainMenu .menuItem .menuItemSmall i {
    color: royalblue;
    font-size: 12px;
  }
  .mainMenu .menuItem .nhap {
    height: auto;
    display: block;
  }
  .mainMenu .menuItem .nhap:hover .dropdown {
    display: none;
  }
  .mainMenu .menuItem .xuat {
    height: auto;
    display: block;
  }
  .mainMenu .menuItem .xuat:hover .dropdown {
    display: none;
  }

  .mainMenu .menuItem .kho {
    height: auto;
    display: block;
  }
  .mainMenu .menuItem .kho:hover .dropdown {
    display: none;
  }

  .mainMenu .menuItem .quanly {
    height: auto;
    display: block;
  }
  .mainMenu .menuItem .quanly:hover .dropdown {
    display: none;
  }
  .mainMenu .menuItem .dropdown {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    transform: translateY(50px);
    background-color: rgba(250, 255, 0, 0.1);
    z-index: 5;
    transition: all 0.3s;
  }
  /* li của thẻ dropdown */
  .mainMenu .menuItem .dropdown ul li {
    height: 40px;
    line-height: 40px;
    margin: 10px 20px;
  }
  .mainMenu .menuItem .dropdown ul li:hover {
    height: 40px;
    background-color: rgba(65, 105, 225, 0.9);
  }
  .mainMenu .menuItem .dropdown ul li a {
    line-height: 40px;
    margin-top: 0;
  }

  .mainMenu .menuItem .topSmall {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 40px;
    text-align: center;
  }
  .mainMenu .topSmall a {
    color: white;
    line-height: 40px;
  }

  .mainMenu .topSmall a {
    line-height: 40px;
    color: silver;
    font-weight: 300;
    transition: all 0.3s;
  }
  .mainMenu .topSmall a:hover {
    color: red;
  }
  /* trang nhập hang */
  .nhapHang {
    display: flex;
    flex-direction: column;
  }

  .nhapHangItem {
    width: 100%;
    padding: 10px;
  }
  /* trang thêm nhân viên */
  .nhanVien {
    display: flex;
    flex-direction: column;
  }
  .nhanVien,
  .mainList {
    width: 100%;
    padding: 10px;
  }
  .mainForm {
    max-width: 500px;
  }

  /* trang liên hệ */
  .lienHe {
    display: flex;
    flex-direction: column;
  }
  .lienHe .lienHeItem {
    width: 100%;
    padding: 10px;
  }
  .lienHe .lienHeItem hr {
    display: block;
    margin-top: 50px;
    height: 1px;
    background-color: silver;
    border: none;
  }
  /* trang thêm nhân viên */
  .tblChucVu {
    text-transform: capitalize;
    width: 8%;
    display: none;
  }

  .tblDiaChi {
    text-transform: capitalize;
    width: 30%;
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* trang thêm nhân viên */
  .mainForm {
    width: 380px;
    transform: translateX(-50%);
  }

  .mainFormBg form {
    position: relative;
    padding: 0 10px 5px 0px;
    overflow: hidden;
  }

  .formBgStyle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-left: 360px solid rgba(65, 105, 225, 0.3);
    border-bottom: 390px solid rgba(255, 0, 0, 0.3);
    border-radius: 8px;
  }

  .tblMaNhanVien {
    text-transform: uppercase;
    width: 7%;
  }
  .tblTenNhanVien {
    text-transform: capitalize;
    width: 20%;
  }
  .tblDiaChi {
    text-transform: capitalize;
    width: 30%;
    display: none;
  }
  .tblEmail {
    text-transform: capitalize;
    width: 30%;
    display: none;
  }
  .tblChucVu {
    text-transform: capitalize;
    width: 8%;
    display: none;
  }
  .tblDienThoai {
    width: 10%;
  }
  .tblNgayVao {
    text-align: center;
    width: 8%;
    display: none;
  }
  .tblMucLuong {
    text-align: right;
    width: 10%;
    display: none;
  }
  .tblThaoTac {
    text-align: center;
    width: 7%;
  }

  /*nút thêm nhân viên */
  .mainListTitle button {
    width: 38px;
    height: 38px;
    background-color: royalblue;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 16px;
  }
  .formButton button {
    padding: 10px;
  }
  .show {
    top: 50px !important;
  }
}
